body {
  margin: 0;
}

.background {
  background-color: #9c4848;
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.backgroundWhite {
  background-color: #ffffff;
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerMenu {
  display: flex;
  flex: 2;
  justify-items: flex-start;
  align-items: flex-start;
  width: 100%;
}

.burgerMenu {
  flex: 1;
  justify-items: flex-start;
  align-items: flex-start;
  width: 100%;
}

.divForm {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  height: 22rem;
  width: 18rem;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLogin {
  height: 16rem;
  width: 12rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.labelLogin {
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
  margin-top: 0.9rem;
  margin-left: 0.05rem;
  color: #9c4848;
}

.labelSignUp {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  margin-left: 0.85rem;
  margin-top: 0.3rem;
  color: white;
  align-self: flex-start;
}

.textInput {
  width: 14rem;
  height: 1.2rem;
  border-radius: 0.1rem;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-bottom: 0.05rem solid #9c4848;
  margin-top: 0.1rem;
}

.textInput::placeholder {
  color: #a88989;
  padding: 0.1rem;
}

.loginButton {
  border-radius: 0.1rem;
  border: none;
  align-self: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  width: 14rem;
  height: 2rem;
  background-color: #9c4848;
  color: white;
}

.loginButton:hover {
  cursor: grab;
}

.recoverButton {
  border-radius: 0.1rem;
  border: none;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  width: 10.15rem;
  height: 2rem;
  background-color: #9e6d6d;
  color: #ffffff;
}

.recoverButton:hover {
  background-color: rgb(212, 212, 212);
}

.signUpButton {
  border-radius: 0.1rem;
  border: none;
  align-self: center;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  width: 10.15rem;
  height: 2rem;
  background-color: #9e6d6d;
  color: #ffffff;
}

.signUpButton:hover {
  background-color: rgb(212, 212, 212);
}

.error {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  align-self: flex-start;
  margin-left: 0.85rem;
  margin-top: 0.2rem;
}

/* WelcomePage */

.reunionsButton {
  width: 12rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  top: 12rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reunionsButton:hover {
  background-color: #e7e7e7;
}

.detailsReunion {
  width: 6.5rem;
  height: 7rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  border: none;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.circleGreen {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(60, 224, 60);
}

.circleRed {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(216, 26, 26);
}

.reunionContainer {
  align-self: center;
  display: flex;
  width: 12rem;
  height: 10rem;
  justify-content: flex-end;
}

.logout {
  bottom: 3rem;
  display: flex;
  position: absolute;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

/* Profile */

.profileBackground {
  height: 100vh;
  width: 90vw;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  padding-left: 2.5rem;
}

.name {
  font-family: "Roboto", sans-serif;
}
.name > h5 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.7rem;
}

.name > h2 {
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.name > h6 {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.emailInstruments {
  display: flex;
  flex-direction: row;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: lighter;
  width: 90vw;
  column-gap: 0.2rem;
}

.emailPassword {
  display: flex;
  flex-direction: column;
  column-gap: 0.1rem;
  width: 40vw;
}

.text {
  margin-bottom: 0.1rem;
}

.instruments {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.selectedInstruments {
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  width: inherit;
  height: 3rem;
  margin-bottom: 1rem;
}

.activeInstrument {
  width: 48%;
  background-color: #9c4848;
  border-radius: 0.1rem;
  border: 0.1rem;
  font-family: "Roboto", sans-serif;
  margin-left: 0.1rem;
  margin-bottom: 0.2rem;
}

.activeInstrument:hover {
  background-color: #9e6d6d;
}

.buttonAddInstrument {
  border: none;
  display: flex;
  background-color: transparent;
}

.bio {
  border-radius: 0.2rem;
  background-color: white;
  width: 80vw;
  height: 5rem;
  border-width: 0.1rem;
  border: lightgray solid;
  display: flex;
  justify-content: center;
}

.textBio {
  width: 78vw;
  height: 4.1rem;
  align-self: center;
  border-radius: 0.1rem;
  border: solid rgb(226, 225, 225);
  word-wrap: break-word;
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
}

.maxLengthText {
  font-size: 0.4rem;
  font-family: "Roboto", sans-serif;
}

.buttonProfile {
  width: 6rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  border: rgb(224, 222, 222) solid;
  border-radius: 0.2rem;
  background-color: #9e6d6d;
  align-self: flex-start;
  font-size: 0.7rem;
  color: rgb(58, 57, 57);
  font-family: "Roboto", sans-serif;
}

.buttonProfile:hover {
  background-color: rgb(165, 164, 164);
}

.loginPicture {
  width: 14rem;
  height: 14rem;
  background-size: cover;
  align-self: center;
  top: 1rem;
  position: absolute;
  border: transparent;
  background-color: transparent;
}

.loginPicture:hover {
  cursor: grab;
}

.signUpPicture {
  width: 5.3rem;
  height: 5.3rem;
  background-size: cover;
  align-self: center;
  top: 1rem;
  margin-bottom: 0.3rem;
  border: transparent;
  background-color: transparent;
}

.signUpPicture:hover {
  cursor: grab;
}

/* SearchFriends */

.friendsBackground {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 2.5rem;
}

.searchContainer {
  width: 15rem;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterSearch {
  width: 15rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonMyLocation {
  width: 6.5rem;
  height: 1.5rem;
  margin: 0.2rem;
  background-color: #9c4848;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  border: transparent;
  color: white;
}

.inputCity {
  width: 6.5rem;
  height: 1.3rem;
  margin: 0.2rem;
  border: #b99e9e;
  right: 0.2rem;
}

.inputCity::placeholder {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  margin-left: 0.2rem;
}

.filterInstrument {
  justify-self: flex-start;
  width: 13.15rem;
}

.filterInstrument::placeholder {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  margin-left: 0.2rem;
}

.dataFiltered {
  background-color: rgb(255, 255, 255);
  width: 13.5rem;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.friend {
  height: 3rem;
  width: 12.5rem;
  background-color: #a88989;
  margin: 0.4rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  border-radius: 0.2rem;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
}

.friendInformation {
  font-size: 0.6rem;
  margin-bottom: 0.2rem;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 1rem;
}

.friendExpanded {
  height: 5rem;
  width: 12.5rem;
  background-color: #a88989;
  margin: 0.4rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

.friendDetails {
}
